Repository jhorst11/mobile-mcp-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --config eslint.config.mjs --max-warnings=0, cd packages/magen-templates && npm run verify:schema

fix lintstaged
  .lintstagedrc.json
  .prettierignore
  packages/magen-templates/.lintstagedrc.json
  packages/magen-templates/.prettierignore
  packages/magen-templates/scripts/verify-schema-sync.ts
Due: prettier --check

fix that
  packages/magen-templates/.lintstagedrc.json
Due: prettier --check

iterate on design
  docs/11_templating.md
  packages/magen-templates/README.md
  packages/magen-templates/schemas/template-v1.json
  packages/magen-templates/src/index.ts
  packages/magen-templates/src/selection/TemplateSelector.ts
  packages/magen-templates/src/types/index.ts
  packages/magen-templates/src/types/schemas.ts
  packages/magen-templates/templates/agentforce-demo/template.json
  packages/magen-templates/templates/android-native-kotlin/template.json
  packages/magen-templates/templates/example-ios-app/template.json
  packages/magen-templates/templates/ios-native-swift/template.json
  packages/magen-templates/templates/mobilesync-explorer-kotlin/template.json
  packages/magen-templates/templates/mobilesync-explorer-swift/template.json
  packages/magen-templates/tests/TemplateSelector.test.ts
  packages/magen-templates/tests/index.test.ts
Due: prettier --check, cd packages/magen-templates && npm run verify:schema

design improvements'
  docs/11_templating.md
  package-lock.json
  packages/magen-templates/package.json
  packages/magen-templates/schemas/template-v1.json
  packages/magen-templates/src/generation/TemplateGenerator.ts
  packages/magen-templates/src/types/index.ts
  packages/magen-templates/src/types/schemas.ts
  packages/magen-templates/templates/ios-base/template.json
  packages/magen-templates/templates/ios-mobilesdk-base/template.json
  packages/magen-templates/templates/ios-mobilesdk-example/template.json
  packages/magen-templates/templates/ios-mobilesdk-example/template/Podfile
  packages/magen-templates/templates/ios-mobilesdk-example/template/README.md
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}.xcodeproj/project.pbxproj
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}.xcodeproj/xcshareddata/xcschemes/{{projectName}}.xcscheme
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}/AccountsListModel.swift
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}/AccountsListView.swift
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}/AppDelegate.swift
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}/Assets.xcassets/Contents.json
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}/Bridging-Header.h
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}/Info.plist
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}/InitialViewController.swift
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}/PrivacyInfo.xcprivacy
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}/SceneDelegate.swift
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}/bootconfig.plist
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}/userstore.json
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}/usersyncs.json
  packages/magen-templates/templates/ios-mobilesdk-example/template/{{projectName}}/{{projectName}}.entitlements
  packages/magen-templates/tests/TemplateGenerator.test.ts
Due: prettier --check, cd packages/magen-templates && npm run verify:schema

missed one
  packages/magen-templates/templates/ios-base/template.json
Due: prettier --check

design iteration
  docs/11_templating.md
  packages/magen-templates/schemas/template-v1.json
  packages/magen-templates/src/registry/TemplateComposer.ts
  packages/magen-templates/src/types/index.ts
  packages/magen-templates/src/types/schemas.ts
  packages/magen-templates/templates/ios-agentforce-demo/template.json
  packages/magen-templates/templates/ios-base/template.json
  packages/magen-templates/templates/ios-mobilesdk-base/template.json
  packages/magen-templates/templates/ios-mobilesdk-example/template.json
  packages/magen-templates/tests/TemplateGenerator.test.ts
  packages/magen-templates/tests/TemplateRegistry.test.ts
  packages/magen-templates/tests/TemplateValidator.test.ts
Due: prettier --check, cd packages/magen-templates && npm run verify:schema

missed one
  packages/magen-templates/templates/ios-mobilesdk-base/template.json
Due: prettier --check

design
  docs/11_templates/magen-template-design-doc.md
  docs/11_templates/magen-templates-implementation-plan.md
Due: prettier --check

phase0
  docs/11_templates/magen-templates-implementation-plan.md
  package-lock.json
  packages/magen-templates/.gitkeep
  packages/magen-templates/README.md
  packages/magen-templates/package.json
  packages/magen-templates/project.json
  packages/magen-templates/src/cli/index.ts
  packages/magen-templates/src/core/git.ts
  packages/magen-templates/src/core/types.ts
  packages/magen-templates/src/index.ts
  packages/magen-templates/templates/.gitkeep
  packages/magen-templates/tests/cli.test.ts
  packages/magen-templates/tests/git.test.ts
  packages/magen-templates/tsconfig.json
  packages/magen-templates/vitest.config.mts
Due: prettier --check

phase1
  docs/11_templates/magen-templates-implementation-plan.md
  packages/magen-templates/src/cli/index.ts
  packages/magen-templates/src/core/discovery.ts
  packages/magen-templates/src/core/schema.ts
  packages/magen-templates/src/core/types.ts
  packages/magen-templates/src/index.ts
  packages/magen-templates/templates/ios-base/README.md
  packages/magen-templates/templates/ios-base/template.json
  packages/magen-templates/templates/ios-base/template/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/magen-templates/templates/ios-base/template/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/magen-templates/templates/ios-base/template/Assets.xcassets/Contents.json
  packages/magen-templates/templates/ios-base/template/ContentView.swift
  packages/magen-templates/templates/ios-base/template/Info.plist
  packages/magen-templates/templates/ios-base/template/{{appName}}App.swift
  packages/magen-templates/tests/discovery.test.ts
  packages/magen-templates/tests/fixtures/templates/android-base/template.json
  packages/magen-templates/tests/fixtures/templates/corrupt-template/template.json
  packages/magen-templates/tests/fixtures/templates/ios-base/template.json
  packages/magen-templates/tests/fixtures/templates/ios-salesforce/template.json
  packages/magen-templates/tests/schema.test.ts
Due: prettier --check

feat(magen-templates): implement Phase 2 - Core Generation Engine
  docs/11_templates/magen-templates-implementation-plan.md
  package-lock.json
  packages/magen-templates/package.json
  packages/magen-templates/src/cli/index.ts
  packages/magen-templates/src/core/generator.ts
  packages/magen-templates/src/core/types.ts
  packages/magen-templates/src/index.ts
  packages/magen-templates/templates/ios-base/template/{{appName}}/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/magen-templates/templates/ios-base/template/{{appName}}/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/magen-templates/templates/ios-base/template/{{appName}}/Assets.xcassets/Contents.json
  packages/magen-templates/templates/ios-base/template/{{appName}}/ContentView.swift
  packages/magen-templates/templates/ios-base/template/{{appName}}/Info.plist
  packages/magen-templates/templates/ios-base/template/{{appName}}/{{appName}}App.swift
  packages/magen-templates/tests/generator.test.ts
Due: prettier --check

feat(magen-templates): implement Phase 3 - Inline Annotations & Finalize
  docs/11_templates/magen-templates-implementation-plan.md
  packages/magen-templates/src/cli/index.ts
  packages/magen-templates/src/core/annotations.ts
  packages/magen-templates/src/core/finalize.ts
  packages/magen-templates/src/core/schema.ts
  packages/magen-templates/src/index.ts
  packages/magen-templates/tests/annotations.test.ts
  packages/magen-templates/tests/finalize.test.ts
  packages/magen-templates/tests/generator.test.ts
Due: prettier --check

Simplify template system: remove annotations, consolidate to single test command
  docs/11_templates/magen-template-design-doc.md
  docs/11_templates/magen-templates-implementation-plan.md
  packages/magen-templates/src/cli/index.ts
  packages/magen-templates/src/core/annotations.ts
  packages/magen-templates/src/core/finalize.ts
  packages/magen-templates/src/core/generator.ts
  packages/magen-templates/src/core/testing.ts
  packages/magen-templates/src/core/types.ts
  packages/magen-templates/src/index.ts
  packages/magen-templates/templates/ios-base/work/MyApp/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/magen-templates/templates/ios-base/work/MyApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/magen-templates/templates/ios-base/work/MyApp/Assets.xcassets/Contents.json
  packages/magen-templates/templates/ios-base/work/MyApp/ContentView.swift
  packages/magen-templates/templates/ios-base/work/MyApp/Info.plist
  packages/magen-templates/templates/ios-base/work/MyApp/MyAppApp.swift
  packages/magen-templates/tests/annotations.test.ts
  packages/magen-templates/tests/finalize.test.ts
  packages/magen-templates/tests/testing.test.ts
Due: prettier --check

feat(templates): implement variables.json split and separate work/test directories
  docs/11_templates/magen-template-design-doc.md
  docs/11_templates/magen-templates-implementation-plan.md
  packages/magen-templates/.gitignore
  packages/magen-templates/src/cli/index.ts
  packages/magen-templates/src/core/discovery.ts
  packages/magen-templates/src/core/generator.ts
  packages/magen-templates/src/core/git.ts
  packages/magen-templates/src/core/layering.ts
  packages/magen-templates/src/core/schema.ts
  packages/magen-templates/src/core/testing.ts
  packages/magen-templates/src/index.ts
  packages/magen-templates/templates/.gitignore
  packages/magen-templates/templates/ios-base/template.json
  packages/magen-templates/templates/ios-base/variables.json
  packages/magen-templates/templates/ios-base/work/MyApp/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/magen-templates/templates/ios-base/work/MyApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/magen-templates/templates/ios-base/work/MyApp/Assets.xcassets/Contents.json
  packages/magen-templates/templates/ios-base/work/MyApp/ContentView.swift
  packages/magen-templates/templates/ios-base/work/MyApp/Info.plist
  packages/magen-templates/templates/ios-base/work/MyApp/MyAppApp.swift
  packages/magen-templates/tests/fixtures/templates/android-base/template.json
  packages/magen-templates/tests/fixtures/templates/android-base/variables.json
  packages/magen-templates/tests/fixtures/templates/ios-base/template.json
  packages/magen-templates/tests/fixtures/templates/ios-base/variables.json
  packages/magen-templates/tests/fixtures/templates/ios-salesforce/template.json
  packages/magen-templates/tests/fixtures/templates/ios-salesforce/variables.json
  packages/magen-templates/tests/layering.test.ts
  packages/magen-templates/tests/schema.test.ts
  packages/magen-templates/tests/testing.test.ts
Due: prettier --check

feat(templates): implement Phase 5 and fix layered template variable loading
  docs/11_templates/magen-templates-implementation-plan.md
  packages/magen-templates/src/core/discovery.ts
  packages/magen-templates/src/core/generator.ts
  packages/magen-templates/src/core/layering.ts
  packages/magen-templates/src/core/testing.ts
  packages/magen-templates/tests/discovery.test.ts
  packages/magen-templates/tests/fixtures/templates/android-base/variables.json
  packages/magen-templates/tests/fixtures/templates/ios-salesforce/work/variables.json
  packages/magen-templates/tests/layering.test.ts
  packages/magen-templates/tests/testing.test.ts
Due: prettier --check

feat(templates): add --watch flag to template test command
  docs/11_templates/magen-template-design-doc.md
  package-lock.json
  packages/magen-templates/README.md
  packages/magen-templates/package.json
  packages/magen-templates/src/cli/index.ts
  packages/magen-templates/src/core/testing.ts
  packages/magen-templates/src/index.ts
  packages/magen-templates/tests/discovery.test.ts
  packages/magen-templates/tests/testing.test.ts
Due: prettier --check

feat(templates): auto-generate layer.patch and reload variables after materialization
  packages/magen-templates/src/cli/index.ts
  packages/magen-templates/src/core/generator.ts
  packages/magen-templates/src/core/git.ts
  packages/magen-templates/src/core/testing.ts
  packages/magen-templates/tests/layering.test.ts
Due: none

test(templates): add test for variable reloading after materialization
  packages/magen-templates/templates/ios-base-2/README.md
  packages/magen-templates/templates/ios-base-2/layer.patch
  packages/magen-templates/templates/ios-base-2/template.json
  packages/magen-templates/tests/layering.test.ts
Due: prettier --check

fix(templates): support creating layered templates based on other layered templates
  packages/magen-templates/src/cli/index.ts
  packages/magen-templates/templates/ios-base-2/README.md
  packages/magen-templates/templates/ios-base-2/layer.patch
  packages/magen-templates/templates/ios-base-2/template.json
  packages/magen-templates/tests/cli.test.ts
Due: prettier --check

feat(templates): add generation config for file processor control
  package-lock.json
  packages/magen-templates/package.json
  packages/magen-templates/src/core/generator.ts
  packages/magen-templates/src/core/schema.ts
  packages/magen-templates/templates/ios-2/template.json
  packages/magen-templates/templates/ios-2/template/{{projectName}}.xcodeproj/project.pbxproj
  packages/magen-templates/templates/ios-2/template/{{projectName}}.xcodeproj/xcshareddata/xcschemes/{{projectName}}.xcscheme
  packages/magen-templates/templates/ios-2/template/{{projectName}}/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/magen-templates/templates/ios-2/template/{{projectName}}/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/magen-templates/templates/ios-2/template/{{projectName}}/Assets.xcassets/Contents.json
  packages/magen-templates/templates/ios-2/template/{{projectName}}/ContentView.swift
  packages/magen-templates/templates/ios-2/template/{{projectName}}/Info.plist
  packages/magen-templates/templates/ios-2/template/{{projectName}}/{{projectName}}App.swift
  packages/magen-templates/templates/ios-2/variables.json
Due: prettier --check

fix(templates): update tests for ios-base variable changes
  packages/magen-templates/templates/ios-2/template.json
  packages/magen-templates/templates/ios-2/variables.json
  packages/magen-templates/templates/ios-base/README.md
  packages/magen-templates/templates/ios-base/template.json
  packages/magen-templates/templates/ios-base/template/{{appName}}/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/magen-templates/templates/ios-base/template/{{appName}}/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/magen-templates/templates/ios-base/template/{{appName}}/Assets.xcassets/Contents.json
  packages/magen-templates/templates/ios-base/template/{{appName}}/ContentView.swift
  packages/magen-templates/templates/ios-base/template/{{appName}}/Info.plist
  packages/magen-templates/templates/ios-base/template/{{appName}}/{{appName}}App.swift
  packages/magen-templates/templates/ios-base/template/{{projectName}}.xcodeproj/project.pbxproj
  packages/magen-templates/templates/ios-base/template/{{projectName}}.xcodeproj/xcshareddata/xcschemes/{{projectName}}.xcscheme
  packages/magen-templates/templates/ios-base/template/{{projectName}}/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/magen-templates/templates/ios-base/template/{{projectName}}/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/magen-templates/templates/ios-base/template/{{projectName}}/Assets.xcassets/Contents.json
  packages/magen-templates/templates/ios-base/template/{{projectName}}/ContentView.swift
  packages/magen-templates/templates/ios-base/template/{{projectName}}/Info.plist
  packages/magen-templates/templates/ios-base/template/{{projectName}}/{{projectName}}App.swift
  packages/magen-templates/templates/ios-base/variables.json
  packages/magen-templates/tests/discovery.test.ts
  packages/magen-templates/tests/fixtures/templates/ios-base/variables.json
  packages/magen-templates/tests/fixtures/templates/ios-salesforce/work/variables.json
  packages/magen-templates/tests/generator.test.ts
Due: prettier --check

salesforce base
  packages/magen-templates/src/core/layering.ts
  packages/magen-templates/templates/ios-base/template/{{projectName}}.xcodeproj/project.pbxproj
  packages/magen-templates/templates/ios-salesforce-base/README.md
  packages/magen-templates/templates/ios-salesforce-base/layer.patch
  packages/magen-templates/templates/ios-salesforce-base/template.json
Due: prettier --check

update salesforce patch
  packages/magen-templates/templates/ios-salesforce-base/layer.patch
Due: none

rename
  packages/magen-templates/templates/ios-mobilesdk/layer.patch
  packages/magen-templates/templates/ios-mobilesdk/template.json
  packages/magen-templates/templates/ios-salesforce-base/README.md
  packages/magen-templates/templates/ios-salesforce-base/template.json
Due: prettier --check

login template
  packages/magen-templates/src/cli/index.ts
  packages/magen-templates/templates/ios-custom-login/layer.patch
  packages/magen-templates/templates/ios-custom-login/template.json
  packages/magen-templates/templates/ios-mobilesdk-login/README.md
  packages/magen-templates/templates/ios-mobilesdk-login/template.json
  packages/magen-templates/templates/ios-mobilesdk/layer.patch
  packages/magen-templates/templates/ios-mobilesdk/template.json
Due: prettier --check

commandr cli
  package-lock.json
  packages/magen-templates/package.json
  packages/magen-templates/src/cli/index.ts
Due: prettier --check

cli indenting
  packages/magen-templates/src/cli/index.ts
Due: none

update login template
  packages/magen-templates/templates/ios-custom-login/template.json
  packages/magen-templates/templates/ios-mobilesdk-login/README.md
  packages/magen-templates/templates/ios-mobilesdk-login/layer.patch
  packages/magen-templates/templates/ios-mobilesdk-login/template.json
Due: prettier --check

diff command
  packages/magen-templates/src/cli/index.ts
Due: none

filtering
  packages/magen-templates/src/cli/index.ts
  packages/magen-templates/tests/cli.test.ts
Due: none

cli ux improvements
  package-lock.json
  packages/magen-templates/README.md
  packages/magen-templates/package.json
  packages/magen-templates/src/api/index.ts
  packages/magen-templates/src/cli/formatting.ts
  packages/magen-templates/src/cli/index.ts
  packages/magen-templates/src/cli/interactive.ts
  packages/magen-templates/src/index.ts
  packages/magen-templates/tests/api.test.ts
  packages/magen-templates/tests/cli.test.ts
  packages/magen-templates/tests/formatting.test.ts
Due: prettier --check

interactive cli design improvements
  docs/11_templates/design.md
  docs/11_templates/magen-template-design-doc.md
  docs/11_templates/magen-templates-implementation-plan.md
  docs/11_templates/presentation.md
  packages/magen-templates/src/cli/commands/generate.ts
  packages/magen-templates/src/cli/commands/info.ts
  packages/magen-templates/src/cli/commands/list.ts
  packages/magen-templates/src/cli/commands/show.ts
  packages/magen-templates/src/cli/commands/template/create.ts
  packages/magen-templates/src/cli/commands/template/diff.ts
  packages/magen-templates/src/cli/commands/template/index.ts
  packages/magen-templates/src/cli/commands/template/layer.ts
  packages/magen-templates/src/cli/commands/template/materialize.ts
  packages/magen-templates/src/cli/commands/template/test.ts
  packages/magen-templates/src/cli/commands/template/validate.ts
  packages/magen-templates/src/cli/commands/template/version.ts
  packages/magen-templates/src/cli/index.ts
  packages/magen-templates/src/cli/interactive.ts
  packages/magen-templates/src/cli/utils.ts
  packages/magen-templates/tests/cli-e2e.test.ts
  packages/magen-templates/tests/cli.test.ts
Due: prettier --check

feature-ios-smartstore
  packages/magen-templates/templates/feature-ios-smartstore/1.0.0/README.md
  packages/magen-templates/templates/feature-ios-smartstore/1.0.0/layer.patch
  packages/magen-templates/templates/feature-ios-smartstore/1.0.0/template.json
  packages/magen-templates/templates/feature-ios-smartstore/1.0.0/variables.json
Due: prettier --check

fixes
  packages/magen-templates/src/core/testing.ts
  packages/magen-templates/templates/.gitignore
  packages/magen-templates/tests/testing.test.ts
Due: none

fixes
  packages/magen-templates/src/cli/commands/template/materialize.ts
  packages/magen-templates/src/cli/commands/template/test.ts
Due: none

bug fixes
  packages/magen-templates/.cursor/template-rules.mdc
  packages/magen-templates/src/cli/commands/template/create.ts
  packages/magen-templates/templates/feature-ios-smartstore/1.0.0/variables.json
  packages/magen-templates/tests/cli.test.ts
Due: prettier --check

agentforce template
  packages/magen-templates/templates/ios-agentforce/1.0.0/README.md
  packages/magen-templates/templates/ios-agentforce/1.0.0/layer.patch
  packages/magen-templates/templates/ios-agentforce/1.0.0/template.json
Due: prettier --check

Path conditions:
  prettier --check: (any of: {src,tests}/**/*.{ts,tsx,js,jsx}) or (any of: **/*.{json,md})
  eslint --config eslint.config.mjs --max-warnings=0: any of: {src,tests}/**/*.{ts,tsx,js,jsx}
  cd packages/magen-templates && npm run verify:schema: (any of: packages/magen-templates/schemas/template-v1.json) or (any of: packages/magen-templates/src/types/schemas.ts)
